methods-concordance.tex
methods.bbl
methods.log
methods.pdf
methods.synctex.gz
methods.tex
methods.toc
results-concordance.tex
results.bbl
results.log
results.pdf
results.synctex.gz
results.tex
results.toc
appendix-concordance.tex
appendix.log
appendix.pdf
appendix.synctex.gz
appendix.tex
appendix.toc